<html>
    <head>
        <meta name="robots" content="noindex" />
        <title>knoc.. knoc...</title>
     </head>
    <body>
        <form id="form_busca" action="/insert">
            <labeL for="text">Text:</labeL>
            <input name="text" id="text" type="text" size=40 />
            <input type="submit" value="go">
        </form>
    </body>
</html>
